.contact {
    background-color: white;
    padding: 20px 0;
    
    .contact-title {
        text-align: center;
        padding-top: 25px;
    }

    .contact-info-container {
        display: flex;
        justify-content: center;
        align-items:  center;

        .contact-info-img {
            img {
                height: 200px;
            }
        }

        .contact-info-details {
            padding: 20px;
        }

    }
    
    .contact-social {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;

        .contact-social-item {
            margin: 0 10px;
        }
    }
}